.add-task {
    margin-top: 20px;
    width: 80%;

    & form {
        display: flex;
        justify-content: space-between;

        & input {
            box-sizing: border-box;
            height: 40px;
            width: 70%;
            border-radius: 5px;
            padding-left: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.329);
            background-color: aliceblue;
            border-color: transparent;
            transition: box-shadow .1s;

            &:focus {
                outline: none;
                box-shadow: 0 0 15px rgba(0, 0, 0, 0.329);
            }
        }

        & button {
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 5px;
            border-color: transparent;
            background-color: aliceblue;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.329);
            width: 50px;
            height: 40px;
            cursor: pointer;
            transition: background-color 0.3s;

            & .add-icon {
                height: 40px;
                cursor: pointer;
            }

            &:hover {
                /* background-color: rgb(216, 235, 252); */

                & .add-icon {
                    scale: 1.1;
                }
            }
        }
    }
}