.task {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    padding: 10px;
    /* height: 55px; */
    width: 90%;
    translate: 0 0;
    opacity: 1;
    border-radius: 10px;
    background-color: rgb(240, 206, 161);
    /* transition: translate .1s .1s, opacity .1s .1s; */
    /* animation: bounce-top 0.8s both; */

    & p {
        width: 70%;
        height: 30px;
        align-content: center;
        /* background-color: aqua; */
    }

    & .edit-delete-buttons {
        /* border-left: 1px solid black; */
        display: flex;
        justify-content: center;
        align-items: center;

        &::before {
            content: '';
            position: relative;
            left: -5px;
            width: 1px;
            height: 30px;
            background-color: black;
        }
    }

    & .delete-icon {
        height: 30px;
        cursor: pointer;

        &:hover {
            scale: 1.1;
        }
    }

    & .edit-icon {
        height: 30px;
        cursor: pointer;

        &:hover {
            scale: 1.1;
        }
    }

    & form {
        display: flex;
        justify-content: space-around;
        align-items: center;
        /* background-color: aqua; */
        width: 70%;

        & input {
            box-sizing: border-box;
            height: 30px;
            width: 50%;
            border-radius: 5px;
            padding-left: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.329);
            background-color: aliceblue;
            border-color: transparent;
            transition: box-shadow .1s;

            &:focus {
                outline: none;
                box-shadow: 0 0 15px rgba(0, 0, 0, 0.329);
            }
        }

        & button {
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 5px;
            border-color: transparent;
            background-color: aliceblue;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.329);
            width: 50px;
            height: 30px;
            cursor: pointer;
            transition: background-color 0.3s;

            & .save-icon {
                height: 30px;
                cursor: pointer;
            }

            &:hover {
                /* background-color: rgb(216, 235, 252); */

                & .save-icon {
                    scale: 1.1;
                }
            }
        }
    }
}

@keyframes bounce-top {
    0% {
        transform: translateY(-100px);
        animation-timing-function: ease-in;
        opacity: 1;
    }

    24% {
        opacity: 1;
    }

    40% {
        transform: translateY(-24px);
        animation-timing-function: ease-in;
    }

    65% {
        transform: translateY(-12px);
        animation-timing-function: ease-in;
    }

    82% {
        transform: translateY(-6px);
        animation-timing-function: ease-in;
    }

    93% {
        transform: translateY(-4px);
        animation-timing-function: ease-in;
    }

    25%,
    55%,
    75%,
    87% {
        transform: translateY(0px);
        animation-timing-function: ease-out;
    }

    100% {
        transform: translateY(0px);
        animation-timing-function: ease-out;
        opacity: 1;
    }
}


/* @starting-style {
    .task {
        translate: -100px 0;
        opacity: 0;
    }
} */