.tasks {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    box-sizing: border-box;
    padding-bottom: 10px;
    padding-left: 5px;
    overflow-x: hidden;
    overflow-y: scroll;
    height: 65%;
    width: 80%;
    /* border-radius: 10px; */
    background-color: aliceblue;
}

.tasks::-webkit-scrollbar {
    width: 5px;
    border-radius: 5px;
}

.tasks::-webkit-scrollbar-thumb {
    background-color: #707070;
    /* border-radius: 10px; */

    &:hover {
        background-color: #fff;
    }
}