.todo {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 400px;
    width: 350px;
    border-radius: 20px;
    box-shadow: 0 0 100px rgb(146, 200, 248);
    /* box-shadow: 0 0 100px rgb(250, 250, 250); */
    background-color: rgb(144, 201, 252);
}